 #container-projects {
     margin: auto;
     /* background-color: #007bff; */
     color: white;
     margin-top: 50px;
     width: 100%;
 }

 #p-title {
     padding-bottom: 20px;
     text-align: center;
     font-size: 35px;
     color: #14155c;
 }

 #p-container-card {
     width: 99%;
     display: flex;
     justify-content: space-around;
     flex-wrap: wrap;
     /* padding: 10px 20px 30px; */
     /* overflow: auto;
     white-space: nowrap; */
 }

 .d-card {
     height: max-content;
     filter: brightness(0.9);
     position: relative;
     margin-top: 20px;
     border-radius: 20px;
     /* padding-right: 15px;
     padding-bottom: 15px; */
 }

 #scroll-box {
  margin-bottom: 20px;
}

 @media only screen and (max-width:900px) {
     #p-container-card {
         all: inherit;
         display: flex;
         margin-left: 5px;
     }


     #scroll-box {
         overflow-x: auto;
         overflow-y: hidden;
         white-space: nowrap;
     }

     .d-card {
         border-radius: 20px;
         padding-right: 15px;
         padding-bottom: 15px;
     }
 }

 .d-card-img {
     border-radius: 20px;
     height: 330px;
     width: 320px;
 }

 .d-intro {
     position: absolute;
     border-radius: 10px;
     height: 30px;
     width: 90%;
     padding-top: 10px;
     text-align: center;
     align-items: center;
     background: rgba(9, 9, 9, 0.4);
     color: black;
     bottom: 25px;
     /* right: 20px; */
     left: 0; 
     right: 0; 
     margin-left: auto; 
     margin-right: auto; 
 }
 @media only screen and (max-width:900px) {
    .d-intro {
       right: 10px;
    }
}

 .d-intro>a {
     display: flex;
     justify-content: center;
     color: white;
     text-decoration: none;
 }