*{
  margin:0;
  padding:0;
}
#app{
  background-color: #fafbff;
}
header{
  display:flex;
  justify-content:space-around;
}
header a{
  text-decoration: none;
  padding:20px;
  display: block;
  color:rgb(113, 112, 112);
  font-weight: 700;
}
header nav{
  display:flex;
}
#name{
  font-size: 23px;
  font-weight: 700;
  padding: 10px;
}