*{
  margin:0;
  padding:0;
}
#app{
  /* background-color: #fafbff; */
  background-color: rgb(243, 245, 249);
}
header{
  align-items: center;
  height: 60px;
  background-color: rgb(246, 248, 251);
  display:flex;
  justify-content:space-around;
}
header a{
  text-decoration: none;
  padding:20px;
  display: block;
  color:rgb(113, 112, 112);
  font-weight: 700;
}
header nav{
  display:flex;
}
#name{
  font-size: 23px;
  font-weight: 700;
  padding: 10px;
}
@media only screen and (max-width:650px){
  header a{
    font-size: 13px;
    font-weight: 700;
  }
  #name{
    font-size: 17px;
    align-items: center;
    
  }
}